doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title myRecentLife
    link rel="stylesheet" href="main.css"
    script src="jquery.min.js"
    script src="main.js"
  body

    div.stage
      div.cube
        div.cube_front
          div
            h1
              | 大学最後の夏
            ul
              li 大学５年生
              li 実家に居づらい…
              li 自立しよう！ by ホリエモン「ゼロ」
              li 「東京でプログラミングやるんや！」
              li 猛バイト＠M屋
              li 初めてのMyPC（Chromebook）
              li ドットインストール＆ドットインストール＆ドットインストール

        div.cube_bottom
          div
            h1
              | 上京
            ul
              li ゲストハウス入居（25,000円＠日本橋）
              li 憧れのプログラマーバイト（HTMLコーダー）
              li Meetupで外国人の友だちをつくるんやで！
              li ぜんぜん喋れないんだが…＼(^o^)／
              li atndで勉強会参加
              li HTML5minutes, GLEE Tech Talk, DMM.Study Night...and so on
              li 壁殴っちまったよ…

        div.cube_back
          div
            h1
              | 新社会人
            ul
              li 正社員登用（就活せずにターンエンド）
              li 一人暮らし始める
              li 24歳になるヽ(=´▽`=)ﾉ
              li MacMini買う（かわいい）
              li GitなHubを始める
              li 技術ブログ始める
              li slim, Sass, Coffee, Rails

        div.cube_top
          div
            h1
              | 転職
            ul
              li 60歳社長
              li 「営業さんが一番えらい」
              li 「お前は偉そうにパソコンカタカタしてるだけだ」
              li 僕「あっ...(察し)」
              li 有給ゼロ、賞与ゼロ、本当にありがとうございました。
              li Greenでリブセンスに出会う
              li 転職会議 aka 最高にKOOLなUNITTO

    div.nav
      div
        a data-deg="0" class="active" href="#"
          | 大学最後の夏
      div
        a data-deg="90" href="#"
          | 上京
      div
        a data-deg="180" href="#"
          | 新社会人
      div
        a data-deg="270" href="#"
          | 転職
